
$maxwidth: 90%;
$pad: 50px;
$borcol: #ccc;
$textcol: #333;
$font: 'Roboto', sans-serif;
$navbg: #ccc;
$maincolour: #000000;
$contrastcolour: #78d686;
$amarillo: #f09d00;
$verde: #76990f;
$verde2: #69b934;
$cyan: #527daa;
$rojo: #f31421;
$boxcolour: #fff;
$fontsize: 1em;
$fontsizenav: 0.9em;
$mediawidth: 100%;

$color1: #EEEBE4; // tan
$color2: #28415E; // blue
$color3: #B79D55; // gold